<!-- views/base.ejs -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Document</title>
  </head>

  <body>
    <%- include('partials/header') %> <%- include('partials/cta') %>
    <div class="overview-feed-article-cards-container">
      <% allBlogs.forEach(blog => { %>
      <div class="feed-article-card">
        <!-- <div class="article-card-top">
          <div class="author-img__username">
            <div class="user-img-container">
              <img
                src="<%= blog.author ? '/imgs/users/' + blog.author.photo : '#' %>"
                alt=""
              />
            </div>
            <div class="article-card-author-name-topic">
              <span class="article-card-author-name"
                ><%= blog.author ? blog.author.name : 'Anonymous' %></span
              >
              <span class="on">on</span>
              <span class="article-card-topic"><%= blog.topic %></span>
            </div>
          </div>
          <div class="article-card-date">2 hours ago</div>
        </div> -->
        <div class="feed-article-card-image-container">
          <img src="/imgs/article-images/<%= blog.imageCover %>" alt="" />
        </div>
        <div class="article-card-title-paragraphe">
          <div class="article-card-title"><%= blog.title %></div>
          <div class="article-card-paragraphe">
            <%= blog.content.substring(0, 200) + (blog.content.length > 200 ?
            '...' : '') %>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
    <%- include('partials/footer') %>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"
      integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/js/bundle.js"></script>
  </body>
</html>
